include variables
include mixins

block globalVars
block languageVars
block contentVars

-var columns; // Global variable where grid mixins save the current array of columns
-var columnIndex; // Global variable where grid mixins save the current column
-var contentWidth; // Global variable where grid mixins save the current column width
-var rowPadding; // Global variable where grid mixins save the padding for the current row
-var columnPadding; // Global variable where grid mixins save the padding for the current column
-var verticalAlign; // Global variable where grid mixins save the vertical alignment of the current row
-var stacking; // Global variable where grid mixins save the stack behaviour of the current row

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    <!--[if !mso]><!-->
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    <!--<![endif]-->
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=description)
    meta(name="robots" content="noindex, follow")

    title=title

    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:type", content="website")
    meta(property="og:url", content=deployUrl)
    if shareImgFound
      meta(property="og:image", content=shareImg)

    meta(name="twitter:card" content="photo")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:url" content=deployUrl)
    if shareImgFound
      meta(name="twitter:image" content=shareImg)

    link(href="css/inline.css", rel="stylesheet")
    if !gmail
        link(href="css/head.css", rel="stylesheet", data-embed)
    <!--[if (gte mso 9)|(IE)]>
    style(type="text/css") table {border-collapse: collapse;}
    <![endif]-->

  body

    <!--[if !mso]><!-- -->
    +row()#preview
      +column()
        span #{description}
    <!--<![endif]-->

    center.wrapper
      div.webkit
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center"><tr><td>
        <![endif]-->
        table(align="center").outer
          block content
        <!--[if (gte mso 9)|(IE)]>
        </td></tr></table>
        <![endif]-->

//- Console warnings
-if(title.length > 70){ console.log(("The title character length of ").yellow + String(title.length).cyan + (" is longer than the advised 70.").yellow) };
-if(description.length > 160){ console.log(("The description character length of ").yellow + String(description.length).cyan + (" is longer than the advised 160.").yellow) };
-if(!shareImgFound){ console.log(("There is no social sharing image present.").yellow) };
