+row(padding=paddingMd).bgGreen
  +column(innerClass="h1 white uppercase")
    | Rows and columns

+row(padding=[paddingSm, paddingMd]).bgGreenLight
  +column(innerClass="h2 white uppercase")
    | Single column row 
    span.txt.sm.white.uppercase aka&nbsp;full&nbsp;width&nbsp;image

+row(columns=[12]).bgGreenLight
  +column()
    +img("http://placehold.it/1200x100", altExample, maxWidth)

+row(padding=[paddingSm, paddingMd]).bgGreenLight
  +column(innerClass="h2 white uppercase")
    | Multiple column row 
    span.txt.sm.white.uppercase with&nbsp;various&nbsp;column&nbsp;widths

+row(columns=[3, 5, 4]).bgGreenLighter
  +column()
    +img("http://placehold.it/300x100/222", altExample, maxWidth / 12 * 3)

  +column()
    +img("http://placehold.it/500x100", altExample, maxWidth / 12 * 5)

  +column()
    +img("http://placehold.it/400x100/DDD", altExample, maxWidth / 12 * 4)

+row(padding=[paddingSm, paddingMd]).bgGreenLight
  +column(innerClass="h2 white uppercase")
    | Multiple row columns 
    span.txt.sm.white.uppercase in&nbsp;a&nbsp;multiple&nbsp;column&nbsp;row

+row(columns=[6, 6]).bgGreenLighter
  +column(multipleRows=true).bgYellow
    +colRow(padding=paddingSm)
      +img("http://placehold.it/584x100", altExample, maxWidth / 2 - 2 * paddingSm)
    +colRow(padding=paddingSm)
      +img("http://placehold.it/584x100", altExample, maxWidth / 2 - 2 * paddingSm)

  +column(multipleRows=true).bgGreenLighter
    +colRow(padding=paddingSm)
      +img("http://placehold.it/584x100", altExample, maxWidth / 2 - 2 * paddingSm)
    +colRow(padding=paddingSm)
      +img("http://placehold.it/584x100", altExample, maxWidth / 2 - 2 * paddingSm)

+row(padding=paddingMd).bgGreen
  +column(innerClass="h1 white uppercase")
    | Stacking

+row(padding=[paddingSm, paddingMd]).bgGreenLight
  +column(innerClass="h2 white uppercase")
    | Inverse stacking 
    span.txt.sm.white.uppercase same&nbsp;structure&nbsp;as&nbsp;multiple&nbsp;column&nbsp;row

+row(columns=[4, 5, 3], stacking="inverse").bgGreenLighter
  +column()
    +img("http://placehold.it/400x100/DDD", altExample, maxWidth / 12 * 4)

  +column()
    +img("http://placehold.it/500x100", altExample, maxWidth / 12 * 5)  

  +column()
    +img("http://placehold.it/300x100/222", altExample, maxWidth / 12 * 3)

+row(padding=[paddingSm, paddingMd]).bgGreenLight
  +column(innerClass="h2 white uppercase")
    | Disable stacking 
    span.txt.sm.white.uppercase and&nbsp;with&nbsp;vertical&nbsp;middle&nbsp;align

+row(columns=[2, 10], verticalAlign="middle", stacking="none").bgGreenLighter
  +column(align="center", padding=paddingSm).bgYellow
    +img("http://placehold.it/88x88", altExample, 44)

  +column(padding=paddingSm, innerClass="txt")
    +randomTxt(120)


+row(padding=paddingMd).bgGreen
  +column(innerClass="h1 white uppercase")
    | Padding

+row(columns=[4, 4, 4]).bgGreenLighter
  +column(multipleRows=true, padding=paddingSm)
    +colRow(innerClass="txt center", align=center, padding=[0, 0, paddingSm, 0])
      | Small padding all around
    +colRow(innerClass="bgYellow" padding=[paddingSm])
      +img("http://placehold.it/368x100", altExample, maxWidth / 3 - 4 * paddingSm)
    

  +column(multipleRows=true, padding=paddingSm)
    +colRow(innerClass="txt center", align=center, padding=[0, 0, paddingSm, 0])
      | Medium vertical padding
    +colRow(innerClass="bgYellow" padding=[paddingMd, 0])
      +img("http://placehold.it/384x100", altExample, maxWidth / 3 - 2 * paddingSm)
    

  +column(multipleRows=true, padding=paddingSm)
    +colRow(innerClass="txt center", align=center, padding=[0, 0, paddingSm, 0])
      | Large horizontal padding
    +colRow(innerClass="bgYellow" padding=[0, paddingLg])
      +img("http://placehold.it/324x100", altExample, maxWidth / 3 - 2 * paddingSm - 2 * paddingLg)


+row(padding=paddingMd).bgGreen
  +column(innerClass="h1 white uppercase")
    | Borders

+row(columns=[4, 4, 4]).bgGreenLighter
  +column(padding=paddingMd)
    +img("http://placehold.it/364x150", altExample, maxWidth / 3 - 2 * paddingMd - 2 * borderWidth).borderGrayDark.dotted

  +column(padding=paddingMd)
    +img("http://placehold.it/364x150", altExample, maxWidth / 3 - 2 * paddingMd - 2 * borderWidth).borderYellow

  +column(padding=paddingMd)
    +img("http://placehold.it/364x150", altExample, maxWidth / 3 - 2 * paddingMd - 2 * borderWidth).borderTopWhite.borderRightGreen.borderBottomYellow.borderLeftBlack


+row(padding=paddingMd).bgGreen
  +column(innerClass="h1 white uppercase")
    | Content examples 

+row(padding=paddingMd).bgGreenLight
  +column(innerClass="txt black center", align="center")
    block introText

+row(columns=[3, 3, 3, 3]).bgGreenLighter
  +column(align="center", padding=[paddingMd, 0])
    +link(socialSiteLink)
      +img("social-site.jpg", socialSiteAlt, 44, 44)(responsive=false)

  +column(align="center", padding=[paddingMd, 0])
    +link(socialFacebookLink)
      +img("social-fb.jpg", socialFacebookAlt, 44, 44)(responsive=false)

  +column(align="center", padding=[paddingMd, 0])
    +link(socialTwitterLink)
      +img("social-tw.jpg", socialTwitterAlt, 44, 44)(responsive=false)

  +column(align="center", padding=[paddingMd, 0])
    +link(socialInstagramLink)
      +img("social-in.jpg", socialInstagramAlt, 44, 44)(responsive=false)
