//- Full width image aka header image
+row(innerClass="padding h1 white uppercase").bgGreen
  | Full width image
+rowFullWidthImg("http://placehold.it/1200x250", altHeader)(link=linkHeader)

//- One column row
+row(innerClass="padding h1 white uppercase").bgGreen
  | Single column row 
  span.txt.sm.white.uppercase with&nbsp;vertical&nbsp;padding

+row(innerClass="padding top bottom txt")
  block introText

//- Two column rows
+row(innerClass="padding h1 white uppercase").bgGreen
  | Two column rows

+row(innerClass="padding h2 white uppercase").bgGreenLight
  | With padding

+row(columns=2).bgYellow
  +column(innerClass="padding")
    +img("http://placehold.it/572x150", altExample, maxWidth / 2 - 2 * padding)

  +columnSeperator

  +column(innerClass="padding")
    +img("http://placehold.it/572x150", altExample, maxWidth / 2 - 2 * padding)

+row(innerClass="padding h2 white uppercase").bgGreenLight
  | Only horizontal padding

+row(columns=2).bgYellow
  +column(innerClass="padding sides")
    +img("http://placehold.it/572x150", altExample, maxWidth / 2 - 2 * padding)

  +columnSeperator

  +column(innerClass="padding sides")
    +img("http://placehold.it/572x150", altExample, maxWidth / 2 - 2 * padding)

+row(innerClass="padding h2 white uppercase").bgGreenLight
  | Without padding 
  span.txt.sm.white.uppercase and&nbsp;with&nbsp;vertical&nbsp;middle&nbsp;align

+row(columns=2, verticalAlign="middle").bgYellow
  +column
    +img("http://placehold.it/600x120", altExample, maxWidth / 2)

  +columnSeperator

  +column
    +img("http://placehold.it/600x200", altExample, maxWidth / 2)
    

//- Three column row
+row(innerClass="padding h1 white uppercase").bgGreen
  | Three column row 
  span.txt.sm.white.uppercase with&nbsp;multiple&nbsp;row&nbsp;columns

+row(columns=3).bgGreenLight
  +column(multipleRows=true, innerClass="padding")
    +columnRow
      +img("http://placehold.it/372x150", altExample, maxWidth / 3 - 2 * padding)
    +columnRow(innerClass="padding top txt white sm center")
      +randomTxt(100)

  +columnSeperator

  +column(multipleRows=true, innerClass="padding")
    +columnRow
      +img("http://placehold.it/372x150", altExample, maxWidth / 3 - 2 * padding)
    +columnRow(innerClass="padding top txt white center")
      +randomTxt(75)

  +columnSeperator

  +column(multipleRows=true, innerClass="padding")
    +columnRow
      +img("http://placehold.it/372x150", altExample, maxWidth / 3 - 2 * padding)
    +columnRow(innerClass="padding top txt white lg center")
      +randomTxt(50)


//- Four column row
+row(innerClass="padding h1 white uppercase").bgGreen
  | Four column row 
  span.txt.sm.white.uppercase with&nbsp;non&#8209;responsive&nbsp;centered&nbsp;images

+row(columns=4)
  +column(innerClass="padding top bottom", align="center")
    +link(socialSiteLink)
      +img("social-site.jpg", socialSiteAlt, 44, 44)(responsive=false)

  +columnSeperator

  +column(innerClass="padding top", align="center")
    +link(socialFacebookLink)
      +img("social-fb.jpg", socialFacebookAlt, 44, 44)(responsive=false)

  +columnSeperator

  +column(innerClass="padding top", align="center")
    +link(socialTwitterLink)
      +img("social-tw.jpg", socialTwitterAlt, 44, 44)(responsive=false)

  +columnSeperator

  +column(innerClass="padding top", align="center")
    +link(socialInstagramLink)
      +img("social-in.jpg", socialInstagramAlt, 44, 44)(responsive=false)
